* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    color: #FFFFFF;
}

.container {
    margin: 0 auto;
    max-width: 1160px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}